<h1>Contacto</h1>

<p class="p2"> 
    <strong>
        Dejanos tus preguntas y seran contestadas a la brevedad!
    </strong>
</p>
<!--<p class="p2"> 
    <strong>
        You will automatically receive a response, if the problem is part of the system. 
    Otherwise, you will be randomly assigned one of our employees to deal with the problem personally. 
    </strong>
</p> -->

<form id="registerForm"  >
        <div class="input__container">
            <label class="input__label">Direccion de correo electronico</label>
            <input placeholder="Correo" class="input" name="email">
            <label class="input__label">Mensaje</label>
            <textarea placeholder="Mensaje" class="input" name="message" rows="3"></textarea>
        </div>
        <button class="button type1" type="submit">
            <span class="btn-txt">Enviar</span>
        </button>
    </form>

<link rel="stylesheet" href="/css/contact.css">