<h1 class="mb-4">Gracias por comprar {{user.firstName}}!</h1>
<p>Te enviamos el comprobante a: {{user.email}}</p>
<a href="/home">
    <button class="button">Inicio</button>
</a>

<link rel="stylesheet" href="/css/purchase.css" type="text/css">