<div>
    <h1>
        Bienvenidos a la tienda de Aromas By Cande
    </h1>
</div>
<div class="container">
    <div class="row row-cols-2">
        <div class="col">
            <img src="inicio1.jpg"  class="home1" alt="...">
        </div>
        <div class="col"> 
            <h2 class="h2-home">Productos frescos</h2>
            <p> 
                <strong>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, quo cum voluptates dolorem quis ad! Reprehenderit natus cumque adipisci quo, eaque quibusdam incidunt voluptate minus eum mollitia architecto non alias?
                </strong>
            </p>
            <p>
                <a href="/products">
                    <button class="button">Mira todos nuestros productos!</button>
                </a>
            </p>
        </div>
        <div class="col"> 
            <h2 class="h2-home">La mejor calidad en ingredientes!</h2>
            <p> 
                <strong>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita atque excepturi, velit minus animi facere, quos a voluptatem, sit quisquam molestiae veritatis repellat itaque sequi perferendis. Distinctio architecto corporis est.
                </strong>
            </p>
            <p>
                <a href="/products">
                    <button class="button"> Ir a la tienda</button>
                </a>
            </p>
        </div>
        <div class="col">
            <img src="inicio2.jpeg"  class="home1" alt="...">
        </div>
    </div>
</div>

<link rel="stylesheet" href="/css/home.css" type="text/css">