<div>
    <h1>
        Iniciar Sesion
    </h1>
    
    <form id="loginForm">
        <div class="input__container">
            <label class="input__label">Correo</label>
            <input placeholder="Correo" class="input" name="email">
        </div>
        <div class="input__container">
            <label class="input__label">Contraseña</label>
            <input id="password" placeholder="Escribi tu contraseña" class="input" name="password" type="password"> 
            <i class="fa fa-eye" id="togglePassword"></i>
        </div>
        <button class="button type1" type="submit">
            <span class="btn-txt">Log In</span>
        </button>
    </form>
    <button class="button type1" type="submit">
        <a href="/register">Registrate</a>
    </button>
</div>

<link rel="stylesheet" href="./css/login.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
<script src="./js/login.js"></script>