
<div>
    <h1>Registrate</h1>
    <form id="registerForm"  >
        <div class="input__container">
            <label class="input__label">Nombre</label>
            <input placeholder="Nombre" class="input" name="firstName" required>
            <label class="input__label">Apellido</label>
            <input placeholder="Apellido" class="input" name="lastName" required>
            <label class="input__label">Email</label>
            <input placeholder="Email" class="input" name="email" required>
            <label class="input__label">Contraseña</label>
            <input placeholder="Contraseña" class="input" name="password" required>
            <label class="input__label">Imagen de perfil</label>
            <input placeholder="Enter your avatar" class="input" name="avatar" type="file" required>
        </div>
        <button class="button type1" type="submit">
            <span class="btn-txt">Registrarse</span>
        </button>
    </form>
</div>

<script type="text/javascript" src="/js/register.js"></script>
<link rel="stylesheet" href="/css/register.css">